/*general class*/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.wrapper {
  background: url("../images/diamond_upholstery.png") repeat;
  padding: 5px;
}

h1 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: white;
  font-size: 2em;
}

h2{
  color: #4aaaa5;
  font-weight: bold;
  font-size: 1.5em;
}

/*puts a bottom border on the header*/
header {
  border-color: #cccccc;
  border-style: solid;
  border-bottom-width: 2px;
}

/*2 classes used to center items*/
.parent-center {
  position: relative;
}

.parent-center-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*responsive nav style*/
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a {
    display: none;
}

.topnav a.icon {
  float: right;
  display: block;
}

.topnav.responsive {
  position: relative;
}

.topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}

.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}

/*main div for name*/
.name {
  background-color: #4aaaa5;
  color: white;
  height: 3.5em;
}

/*main content*/
.main {
  margin-bottom: 10px;
  background-color: #ffffff;
  border-color: #dddddd;
  border-style: solid;
  border-width: 2px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.main p {
  display: block;
  margin-top: 10px;
}

.about-img {
  float: left;
  margin-right: 10px;
}

/*connect section*/
.connect {
  margin-top: 10px;
  padding-left: 30px;
  padding-right:30px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ffffff;
  border-color: #dddddd;
  border-style: solid;
  border-width: 2px;
}

.connect ul li {
  display: inline;
  margin-left: 5px;
}

.connect ul li a {
  text-decoration: none;
}

#github {
  background-color: black;
}

.connect-border {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 12px;
}

.connect img {
  height: 50px;
  width: 50px;
}

footer {
  background-color: #666666;
  margin: 0;
  padding: 0;
  color: white;
  height: 3.5em;
}

/*footer spacer bar*/
footer hr{
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 5px;
  color: #4faaa4;
}

/*text in footer*/
.copyright {
  text-align: center;
}

/*desktop overriding styles*/
@media screen and (min-width: 980px) {
  /*pushes the nav full menu to the right*/
  nav {
    float: right;
    border-width: 0;
  }

  .parent-center-child {
    position: absolute;
    top: 50%;
    left: calc(25% - 1.5em);
    transform: translate(0, -50%);
  }

  .topnav {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  /*reveals the hidden responsive elements for desktop*/
  .topnav a {
    display: block;
  }

  /*hides the hamburger menu icon*/
  .topnav a.icon {
    display: none;
  }

  /*pushes the name to display to the left*/
  .name {
    border-width: 0;
    margin: 0;
    padding: 0;
    height: 3em;
    width: 17em;
    font-size: 1em;
  }

  /*makes the wrapper push the footer to the bottom in desktop*/
  .wrapper {
    min-height: calc(100vh - 6px - 7em);
  }

  /*groups things tighter for the desktop view*/
  .content {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }

  .main {
    width: 559px;
    display: inline-block;
    vertical-align: top;
  }

  .connect {
    float: right;
    width: 209px;
  }
}