/*desktop overriding styles*/
@media screen and (min-width: 980px) {
  .content {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }

  /*pushes the nav full menu to the right*/
  nav {
    float: right;
    border-width: 0;
  }

  .topnav {
    position: absolute;
    bottom: 0;
    right: 0;
    border-width: 0;
    min-height: 100%;
  }

  /*reveals the hidden responsive elements for desktop*/
  .topnav a {
    display: block;
  }

  /*hides the hamburger menu icon*/
  .topnav a.icon {
    display: none;
  }

  /*pushes the name to display to the left*/
  .name {
    border-width: 0;
    margin: 0;
    padding: 0;
    height: 3em;
    width: 17em;
    font-size: 1em;
  }

  /*makes the wrapper push the footer to the bottom in desktop*/
  .wrapper {
    min-height: calc(100vh - 10px - 6em);
  }

  /*groups things tighter for the desktop view*/
  .main-content {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }

  .main {
    width: 559px;
    display: inline-block;
    vertical-align: top;
  }

  .connect {
    float: right;
    width: 209px;
  }
}